Pymex.MVC/Connected Services/ProveedorProxy/Pymex3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.ProveedorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" />
  <xs:complexType name="ResponseWithDataDataContractOfArrayOfProveedorDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfProveedorDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfProveedorDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfArrayOfProveedorDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfArrayOfProveedorDCXmnxQzc5" />
  <xs:complexType name="ResponseDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsCorrecto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDataContract" nillable="true" type="tns:ResponseDataContract" />
  <xs:complexType name="ArrayOfProveedorDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProveedorDC" nillable="true" type="tns:ProveedorDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProveedorDC" nillable="true" type="tns:ArrayOfProveedorDC" />
  <xs:complexType name="ProveedorDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" minOccurs="0" name="TipoDocumento" type="q1:TipoDocumento" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" minOccurs="0" name="HistorialSeguimiento" nillable="true" type="q2:HistorialSeguimientoDC" />
      <xs:element minOccurs="0" name="UsuarioAccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProveedorDC" nillable="true" type="tns:ProveedorDC" />
  <xs:complexType name="ResponseWithDataDataContractOfProveedorDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProveedorDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ProveedorDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfProveedorDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfProveedorDCXmnxQzc5" />
</xs:schema>