Pymex.MVC/Connected Services/ProveedorProxy/Pymex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.ProveedorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ListarResult" nillable="true" type="q1:ResponseWithDataDataContractOfArrayOfProveedorDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ObtenerPorIdResult" nillable="true" type="q2:ResponseWithDataDataContractOfProveedorDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="dataContract" nillable="true" type="q3:ProveedorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="CrearResult" nillable="true" type="q4:ResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="dataContract" nillable="true" type="q5:ProveedorDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ActualizarResult" nillable="true" type="q6:ResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="EliminarResult" nillable="true" type="q7:ResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorExpresionYCantidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expresion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxCantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorExpresionYCantidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ListarPorExpresionYCantidadResult" nillable="true" type="q8:ResponseWithDataDataContractOfArrayOfProveedorDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>