Pymex.MVC/Connected Services/InventarioProxy/InventarioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="InventarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.InventarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.InventarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.InventarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
      <xsd:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.InventarioService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventarioService_RegistrarEntrada_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarEntrada" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_RegistrarEntrada_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarEntradaResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_RegistrarSalida_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSalida" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_RegistrarSalida_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSalidaResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_ListarSalidas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSalidas" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_ListarSalidas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSalidasResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_ListarEntradas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEntradas" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_ListarEntradas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEntradasResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_BuscarSalidaPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSalidaPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_BuscarSalidaPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarSalidaPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_BuscarEntradaPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEntradaPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IInventarioService_BuscarEntradaPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEntradaPorCodigoResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventarioService">
    <wsdl:operation name="RegistrarEntrada">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioService/RegistrarEntrada" message="tns:IInventarioService_RegistrarEntrada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioService/RegistrarEntradaResponse" message="tns:IInventarioService_RegistrarEntrada_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarSalida">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioService/RegistrarSalida" message="tns:IInventarioService_RegistrarSalida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioService/RegistrarSalidaResponse" message="tns:IInventarioService_RegistrarSalida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSalidas">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioService/ListarSalidas" message="tns:IInventarioService_ListarSalidas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioService/ListarSalidasResponse" message="tns:IInventarioService_ListarSalidas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEntradas">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioService/ListarEntradas" message="tns:IInventarioService_ListarEntradas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioService/ListarEntradasResponse" message="tns:IInventarioService_ListarEntradas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarSalidaPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioService/BuscarSalidaPorCodigo" message="tns:IInventarioService_BuscarSalidaPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioService/BuscarSalidaPorCodigoResponse" message="tns:IInventarioService_BuscarSalidaPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEntradaPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventarioService/BuscarEntradaPorCodigo" message="tns:IInventarioService_BuscarEntradaPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventarioService/BuscarEntradaPorCodigoResponse" message="tns:IInventarioService_BuscarEntradaPorCodigo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventarioService" type="tns:IInventarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarEntrada">
      <soap:operation soapAction="http://tempuri.org/IInventarioService/RegistrarEntrada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSalida">
      <soap:operation soapAction="http://tempuri.org/IInventarioService/RegistrarSalida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSalidas">
      <soap:operation soapAction="http://tempuri.org/IInventarioService/ListarSalidas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEntradas">
      <soap:operation soapAction="http://tempuri.org/IInventarioService/ListarEntradas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarSalidaPorCodigo">
      <soap:operation soapAction="http://tempuri.org/IInventarioService/BuscarSalidaPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEntradaPorCodigo">
      <soap:operation soapAction="http://tempuri.org/IInventarioService/BuscarEntradaPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventarioService">
    <wsdl:port name="BasicHttpBinding_IInventarioService" binding="tns:BasicHttpBinding_IInventarioService">
      <soap:address location="http://nasatoaster/PymexServices/Pymex.Services.InventarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>