Pymex.MVC/Connected Services/InventarioProxy/Pymex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.InventarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RUC">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DNI">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDocumento" nillable="true" type="tns:TipoDocumento" />
  <xs:complexType name="HistorialSeguimientoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UltimoUsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistorialSeguimientoDC" nillable="true" type="tns:HistorialSeguimientoDC" />
</xs:schema>