Pymex.MVC/Connected Services/UsuarioProxy/Pymex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.UsuarioService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" />
  <xs:complexType name="ResponseWithDataDataContractOfUsuarioDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UsuarioDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:UsuarioDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfUsuarioDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfUsuarioDCXmnxQzc5" />
  <xs:complexType name="ResponseDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsCorrecto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDataContract" nillable="true" type="tns:ResponseDataContract" />
  <xs:complexType name="UsuarioDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" minOccurs="0" name="Perfil" type="q1:Perfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDC" nillable="true" type="tns:UsuarioDC" />
  <xs:complexType name="ResponseWithDataDataContractOfArrayOfUsuarioDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUsuarioDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfUsuarioDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfArrayOfUsuarioDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfArrayOfUsuarioDCXmnxQzc5" />
  <xs:complexType name="ArrayOfUsuarioDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioDC" nillable="true" type="tns:UsuarioDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioDC" nillable="true" type="tns:ArrayOfUsuarioDC" />
</xs:schema>