Pymex.MVC/Connected Services/UsuarioProxy/Pymex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordEncriptado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="LoginResult" nillable="true" type="q1:ResponseWithDataDataContractOfUsuarioDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioSolicitante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ObtenerUsuariosResult" nillable="true" type="q2:ResponseWithDataDataContractOfArrayOfUsuarioDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="usuario" nillable="true" type="q3:UsuarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ActualizarUsuarioResult" nillable="true" type="q4:ResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>