Pymex.MVC/Connected Services/CategoriaProxy/Pymex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseWithDataDataContractOfArrayOfCategoriaDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCategoriaDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfCategoriaDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfArrayOfCategoriaDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfArrayOfCategoriaDCXmnxQzc5" />
  <xs:complexType name="ResponseDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsCorrecto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDataContract" nillable="true" type="tns:ResponseDataContract" />
  <xs:complexType name="ArrayOfCategoriaDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaDC" nillable="true" type="tns:CategoriaDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaDC" nillable="true" type="tns:ArrayOfCategoriaDC" />
  <xs:complexType name="CategoriaDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaDC" nillable="true" type="tns:CategoriaDC" />
  <xs:complexType name="ResponseWithDataDataContractOfCategoriaDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CategoriaDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:CategoriaDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfCategoriaDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfCategoriaDCXmnxQzc5" />
</xs:schema>