Pymex.MVC/Connected Services/ClienteProxy/Pymex3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" />
  <xs:complexType name="ResponseWithDataDataContractOfArrayOfClienteDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfClienteDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfClienteDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfArrayOfClienteDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfArrayOfClienteDCXmnxQzc5" />
  <xs:complexType name="ResponseDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsCorrecto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDataContract" nillable="true" type="tns:ResponseDataContract" />
  <xs:complexType name="ArrayOfClienteDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteDC" nillable="true" type="tns:ClienteDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteDC" nillable="true" type="tns:ArrayOfClienteDC" />
  <xs:complexType name="ClienteDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" minOccurs="0" name="TipoDocumento" type="q1:TipoDocumento" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" minOccurs="0" name="HistorialSeguimiento" nillable="true" type="q2:HistorialSeguimientoDC" />
      <xs:element minOccurs="0" name="UsuarioAccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteDC" nillable="true" type="tns:ClienteDC" />
  <xs:complexType name="ResponseWithDataDataContractOfClienteDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ClienteDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ClienteDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfClienteDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfClienteDCXmnxQzc5" />
</xs:schema>