Pymex.MVC/Connected Services/ProductoProxy/ProductoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProductoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.ProductoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.ProductoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
      <xsd:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.ProductoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductoService_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IProductoService_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorId" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="IProductoService_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IProductoService_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarPorExpresionYCantidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorExpresionYCantidad" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarPorExpresionYCantidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPorExpresionYCantidadResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarSoloActivos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSoloActivos" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarSoloActivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSoloActivosResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ActivarPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ActivarPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarProductosConStockPorCantidad_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosConStockPorCantidad" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ListarProductosConStockPorCantidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosConStockPorCantidadResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductoService">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_ProductoDC/Listar" message="tns:IProductoService_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_ProductoDC/ListarResponse" message="tns:IProductoService_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_ProductoDC/ObtenerPorId" message="tns:IProductoService_ObtenerPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_ProductoDC/ObtenerPorIdResponse" message="tns:IProductoService_ObtenerPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_ProductoDC/Crear" message="tns:IProductoService_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_ProductoDC/CrearResponse" message="tns:IProductoService_Crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_ProductoDC/Actualizar" message="tns:IProductoService_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_ProductoDC/ActualizarResponse" message="tns:IProductoService_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorExpresionYCantidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IListarPorCantidadOperationOf_ProductoDC/ListarPorExpresionYCantidad" message="tns:IProductoService_ListarPorExpresionYCantidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListarPorCantidadOperationOf_ProductoDC/ListarPorExpresionYCantidadResponse" message="tns:IProductoService_ListarPorExpresionYCantidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ObtenerPorCodigo" message="tns:IProductoService_ObtenerPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ObtenerPorCodigoResponse" message="tns:IProductoService_ObtenerPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSoloActivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ListarSoloActivos" message="tns:IProductoService_ListarSoloActivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ListarSoloActivosResponse" message="tns:IProductoService_ListarSoloActivos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ActivarPorCodigo" message="tns:IProductoService_ActivarPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ActivarPorCodigoResponse" message="tns:IProductoService_ActivarPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductosConStockPorCantidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ListarProductosConStockPorCantidad" message="tns:IProductoService_ListarProductosConStockPorCantidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ListarProductosConStockPorCantidadResponse" message="tns:IProductoService_ListarProductosConStockPorCantidad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductoService" type="tns:IProductoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_ProductoDC/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorId">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_ProductoDC/ObtenerPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_ProductoDC/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_ProductoDC/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorExpresionYCantidad">
      <soap:operation soapAction="http://tempuri.org/IListarPorCantidadOperationOf_ProductoDC/ListarPorExpresionYCantidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorCodigo">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ObtenerPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSoloActivos">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ListarSoloActivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarPorCodigo">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ActivarPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProductosConStockPorCantidad">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ListarProductosConStockPorCantidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductoService">
    <wsdl:port name="BasicHttpBinding_IProductoService" binding="tns:BasicHttpBinding_IProductoService">
      <soap:address location="http://nasatoaster/PymexServices/Pymex.Services.ProductoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>