Pymex.MVC/Connected Services/ProductoProxy/Pymex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.ProductoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" />
  <xs:complexType name="ResponseWithDataDataContractOfArrayOfProductoDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfProductoDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfProductoDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfArrayOfProductoDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfArrayOfProductoDCXmnxQzc5" />
  <xs:complexType name="ResponseDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsCorrecto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDataContract" nillable="true" type="tns:ResponseDataContract" />
  <xs:complexType name="ArrayOfProductoDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoDC" nillable="true" type="tns:ProductoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoDC" nillable="true" type="tns:ArrayOfProductoDC" />
  <xs:complexType name="ProductoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:CategoriaDC" />
      <xs:element minOccurs="0" name="Almacen" nillable="true" type="tns:AlmacenDC" />
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UltimoPrecioCompra" type="xs:decimal" />
      <xs:element minOccurs="0" name="UltimoPrecioVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pymex.Services.ValueObjects" minOccurs="0" name="HistorialSeguimiento" nillable="true" type="q1:HistorialSeguimientoDC" />
      <xs:element minOccurs="0" name="UsuarioAccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoDC" nillable="true" type="tns:ProductoDC" />
  <xs:complexType name="CategoriaDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaDC" nillable="true" type="tns:CategoriaDC" />
  <xs:complexType name="AlmacenDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Aforo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlmacenDC" nillable="true" type="tns:AlmacenDC" />
  <xs:complexType name="ResponseWithDataDataContractOfProductoDCXmnxQzc5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseWithDataDataContractOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductoDC" Namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ProductoDC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseWithDataDataContractOfProductoDCXmnxQzc5" nillable="true" type="tns:ResponseWithDataDataContractOfProductoDCXmnxQzc5" />
</xs:schema>