Pymex.MVC/Connected Services/ProductoProxy/Pymex2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nasatoaster/PymexServices/Pymex.Services.ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" />
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ListarResult" nillable="true" type="q1:ResponseWithDataDataContractOfArrayOfProductoDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ObtenerPorIdResult" nillable="true" type="q2:ResponseWithDataDataContractOfProductoDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Crear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="dataContract" nillable="true" type="q3:ProductoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="CrearResult" nillable="true" type="q4:ResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="dataContract" nillable="true" type="q5:ProductoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ActualizarResult" nillable="true" type="q6:ResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorExpresionYCantidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expresion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxCantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPorExpresionYCantidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ListarPorExpresionYCantidadResult" nillable="true" type="q7:ResponseWithDataDataContractOfArrayOfProductoDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ObtenerPorCodigoResult" nillable="true" type="q8:ResponseWithDataDataContractOfProductoDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSoloActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSoloActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ListarSoloActivosResult" nillable="true" type="q9:ResponseWithDataDataContractOfArrayOfProductoDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="producto" nillable="true" type="q10:ProductoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ActivarPorCodigoResult" nillable="true" type="q11:ResponseDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosConStockPorCantidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxCantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosConStockPorCantidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Pymex.Services.Contracts" minOccurs="0" name="ListarProductosConStockPorCantidadResult" nillable="true" type="q12:ResponseWithDataDataContractOfArrayOfProductoDCXmnxQzc5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>